# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
.vs

# Linker files
*.ilk

# Debugger Files
*.pdb
*.cache
*.idea

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

build
*example

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
